.iu-simple{ 'ng-controller' => 'singleIuCtrl', data: options }
  .iu-simple-dropzone{ 'ng-class' => '{uploading:uploaded == false}' }
    = image_tag record.send(field).send(options[:version]).url, class: 'iu-simple-image', width: options[:width], height: options[:height]
    .iu-progress-bar{ style: "width: {{ uploadProgress }}%;" }

  = file_field :user, field

  .iu-simple-select
    drag & drop or
    = link_to 'select file from disk', '#', class: 'iu-simple-select-files'

